img {
  width: 250px;
  height: 250px;
}

.fancy {
  font-style: italic;
  list-style: none;
}

.newClass {
  border: 2px solid black;
}

body {
  text-align: center;
  background-color: rgb(0, 75, 0);
  color: rgb(168, 168, 168);
}